<div class="transportation-table">
						<table>
							<tr align="center">
								<td>
									<input type="checkbox" id="traincheckbox" name="traincheckbox" value="train" align="middle"/>
									
								</td>
								<td>
									<input type="checkbox" id="planecheckbox" name="planecheckbox" value="plane" align="middle"/>
									
								</td>
								<td>
									<input type="checkbox" id="buscheckbox" name="buscheckbox" value="bus" align="middle"/>
									
								</td>
								<td>
									<input type="checkbox" id="ferrycheckbox" name="ferrycheckbox" value="ferry" align="middle"/>
									
								</td>
	
								<td>
									<input type="checkbox" id="carcheckbox" name="carcheckbox" value="car" align="middle"/>
									
								</td>
								<td>
									<input type="checkbox" id="bikecheckbox" name="bikecheckbox" value="bike" align="middle"/>
									
								</td>
								<td>
									<input type="checkbox" id="taxicheckbox" name="taxicheckbox" value="taxi" align="middle"/>
									
								</td>
							</tr>
						</table>

</div>
